<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" action="/">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required placeholder="Enter Your userid">

            <label for="password">Password</label>
            <input type="password" id="password", name="password" required placeholder="Enter your Password">

            <button type="submit">Sign In</button>

        </form>
        <p>Don't Have account?  <a href="/register"> Sign Up here</a></p>
    </div>
</body>
</html>